/* CSS for index.html */
html {
    background: rgb(0, 0, 0);
}


h1 {
  text-transform: uppercase;
  color: white;
}

body {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    height: 200vh;
    margin: 0;
    color: aliceblue;
}

.logo {
  height: 100px;   
  width: auto;
  display: block;
  margin-bottom: 10px;
}


.header {
  display: flex;
  background-color: rgb(50, 97, 141);
}
