/* CSS for index.html */
html {
    background: rgb(0, 0, 0);
}


h1 {
  text-transform: uppercase;
  color: white;
}

body {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    height: 200vh;
    margin: 0;
    color: aliceblue;
}

.logo {
  height: 100px;   /* adjust freely */
  width: auto;
  display: block;
  margin-bottom: 10px;
}


.header {
  display: flex;
  background-color: rgb(50, 97, 141);
}

.portrait {
  width: 300px;
  border-radius: 50%
}

.summary {
  min-width: 1000px;
  max-width: 1900px;
  height: 100vh;
  font-size: 30px;
  text-indent: 3ch;
  margin: 120px auto;
  width: min(1000px, 90%);
  /* animation */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

