/* CSS for index.html */
html {
    background: rgb(0, 0, 0);
}

h1 {
  text-transform: uppercase;
  color: white;
}

body {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    height: 200vh;
    margin: 0;
    color: aliceblue;
}

.logo {
  height: 100px;   
  width: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header {
  display: flex;
  background-color: rgb(50, 97, 141);
}

.navigation {
  display: flex;
  width: 100%;
  justify-content:space-around;
  align-items: center;
  font-size: 50px;
}

.summary {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 90vh;
  margin-top: 50px;
}

.navigation > a {
  color: aliceblue;
  text-decoration: none;
  background-color: rgb(104, 132, 132);
  border-radius: 8px;
}

.about-me {
  display: inline;
  max-width: 900px;
  min-width: 500px;
  font-size: 30px;
  padding-left: 50px;
}

.about-me > img {
  float: left;
  margin-right: 40px;
}

#collab {
  width: 400px;
  height: auto;
  border-radius: 12px;
}

@media (max-width: 900px) {
  .summary {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #collab {
    order: 2; /* forces image below */
    width: 80%;
    max-width: 350px;
    margin-top: 0px;
  }

  .about-me {
    order: 1;
  }
}
